version: '3.3'
services:

  web:
    image: odoo:16.0
    depends_on:
      - db
    environment:
      USER: odoo
      PASSWORD: odoo
    volumes:
      - ./volumes/data/web:/var/lib/odoo
      - ./odoo_custom_api:/mnt/extra-addons/custom_api
    ports:
      - "8069:8069"

  db:
    image: postgres:13.0
    restart: unless-stopped
    environment:
      POSTGRES_USER: odoo
      POSTGRES_PASSWORD: odoo
      POSTGRES_DB: postgres
    volumes:
      - ./volumes/data/db:/var/lib/postgresql/data
